In [1]:
#import the necessary libraries
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

In [2]:
# Generating the synthetic dataset

num_rows = 1000

# Invoice Numbers
invoice_numbers = np.random.randint(100000, 999999, size=num_rows)

# Stock Codes
stock_codes = [f"P{random.randint(1000,9999)}" for _ in range(num_rows)]

# Descriptions (simple synthetic)
product_names = [
    "Laptop", "Headphones", "T-Shirt", "Shoes", "Backpack", "Phone Case",
    "Monitor", "Keyboard", "Jeans", "Jacket"
]
descriptions = [random.choice(product_names) for _ in range(num_rows)]

# Quantity 1–50
quantities = np.random.randint(1, 50, size=num_rows)

# UnitPrice 1–100
unit_prices = np.random.randint(1, 100, size=num_rows)

# Random dates between Jan 2023 – Aug 2025
start_date = datetime(2023, 1, 1)
end_date = datetime(2025, 8, 12)
date_range = end_date - start_date
invoice_dates = [
    start_date + timedelta(days=random.randint(0, date_range.days))
    for _ in range(num_rows)
]

# Customer IDs (100 unique customers)
customer_ids = np.random.randint(1, 101, size=num_rows)

# Countries (5–10 options)
countries = ["Kenya", "UK", "USA", "Germany", "UAE", "Canada", "France"]
customer_countries = [random.choice(countries) for _ in range(num_rows)]

# Build DataFrame
df = pd.DataFrame({
    "InvoiceNo": invoice_numbers,
    "StockCode": stock_codes,
    "Description": descriptions,
    "Quantity": quantities,
    "InvoiceDate": invoice_dates,
    "UnitPrice": unit_prices,
    "CustomerID": customer_ids,
    "Country": customer_countries
})

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,594247,P8153,Laptop,45,2024-11-12,53,33,Kenya
1,768919,P5094,Backpack,40,2023-11-08,40,68,UAE
2,868185,P8032,Keyboard,9,2025-08-05,86,50,France
3,951369,P7853,Laptop,5,2023-05-01,75,21,UAE
4,593821,P2398,Backpack,2,2024-12-21,82,57,Canada

In [3]:
# save the dataset to a CSV file
df.to_csv("synthetic_retail_data.csv", index=False)
print("Synthetic dataset saved successfully!")

Synthetic dataset saved successfully!

# ETL TRANSFORMATION STEP

In [4]:
import pandas as pd
from datetime import datetime

# Make sure df exists (from the previous step)
print("Initial rows:", len(df))

# 1. Convert InvoiceDate to datetime
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"], errors="coerce")

# 2. Remove outliers
df = df[(df["Quantity"] > 0) & (df["UnitPrice"] > 0)]
print("Rows after removing outliers:", len(df))

# 3. Add TotalSales column
df["TotalSales"] = df["Quantity"] * df["UnitPrice"]

# 4. Filter data for last 1 year 
# Current date per exam instructions: August 12, 2025
current_date = datetime(2025, 8, 12)
one_year_ago = current_date.replace(year=current_date.year - 1)

filtered_df = df[df["InvoiceDate"] >= one_year_ago]
print("Rows from last 12 months:", len(filtered_df))

# 5. Create Customer Summary (like a dimension extract)
customer_summary = filtered_df.groupby("CustomerID").agg({
    "TotalSales": "sum",
    "Country": "first"
}).reset_index()

customer_summary.rename(columns={
    "TotalSales": "CustomerTotalSales",
    "Country": "CustomerCountry"
}, inplace=True)

# 6. Create Time Dimension Table
time_dim = filtered_df[["InvoiceDate"]].drop_duplicates().copy()
time_dim["Date"] = time_dim["InvoiceDate"].dt.date
time_dim["Month"] = time_dim["InvoiceDate"].dt.month
time_dim["Quarter"] = time_dim["InvoiceDate"].dt.quarter
time_dim["Year"] = time_dim["InvoiceDate"].dt.year
time_dim.reset_index(drop=True, inplace=True)
time_dim["TimeID"] = time_dim.index + 1  # make a simple key
time_dim = time_dim[["TimeID", "Date", "Month", "Quarter", "Year"]]

# 7. Prepare SalesFact table
# Merge filtered sales with the time dimension to attach TimeID
sales_fact = filtered_df.merge(
    time_dim,
    left_on=filtered_df["InvoiceDate"].dt.date,
    right_on="Date",
    how="left"
)

sales_fact = sales_fact[[
    "CustomerID",
    "StockCode",
    "Quantity",
    "UnitPrice",
    "TotalSales",
    "TimeID",
    "Country",
    "Description"
]]

print("Transformation complete.")
print("SalesFact rows:", len(sales_fact))

sales_fact.head()

Initial rows: 1000
Rows after removing outliers: 1000
Rows from last 12 months: 428
Transformation complete.
SalesFact rows: 428

,CustomerID,StockCode,Quantity,UnitPrice,TotalSales,TimeID,Country,Description
0,33,P8153,45,53,2385,1,Kenya,Laptop
1,50,P8032,9,86,774,2,France,Keyboard
2,57,P2398,2,82,164,3,Canada,Backpack
3,3,P7505,45,98,4410,4,UAE,Laptop
4,36,P6579,44,19,836,5,USA,Jeans

### ETL Transformation Summary

In this step, I cleaned and transformed the synthetic retail dataset to prepare it for loading into the data warehouse.

1. **Date Conversion:**  
   I converted the `InvoiceDate` column into proper datetime format so it can be filtered and used in the Time Dimension.

2. **Outlier Removal:**  
   Rows with invalid quantities (≤ 0) or prices (≤ 0) were removed to ensure clean, meaningful sales data.

3. **Feature Engineering:**  
   A new column `TotalSales = Quantity × UnitPrice` was created to support fact table analysis.

4. **Last-Year Filtering:**  
   Based on the exam reference date (Aug 12, 2025), only sales from the last 12 months were kept for loading into the warehouse.

5. **Customer Summary:**  
   I generated a customer-level table showing each customer’s total spending and their associated country. This will help build the Customer Dimension.

6. **Time Dimension Creation:**  
   The unique dates from the filtered dataset were converted into a structured Time Dimension containing Date, Month, Quarter, and Year, along with a generated TimeID.

7. **SalesFact Preparation:**  
   The filtered sales data was merged with the Time Dimension to attach `TimeID`, producing a clean fact table containing CustomerID, Quantity, UnitPrice, TotalSales, and TimeID.

This transformation ensures the data is clean, structured, and ready to be inserted into the warehouse tables.


# LOAD INTO SQLITE

In [7]:
import sqlite3

conn = sqlite3.connect("retail_dw.db")
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

conn.close()

[]

In [9]:
import os
os.getcwd()

'/Users/abdiqalaqmohamed/Desktop/DSA_2040_FS_243'

In [10]:
import os
os.listdir()

['star_schema.drawio',
 'star_schema.drawio.png',
 'task1.ipynb',
 'schema_dw.sql ',
 'synthetic_retail_data.csv',
 'retail_dw.db',
 '.git']

In [11]:
import os
os.rename("schema_dw.sql ", "schema_dw.sql")

In [12]:
with open("schema_dw.sql", "r") as file:
    sql_script = file.read()

In [13]:
cursor.executescript(sql_script)

In [14]:
import sqlite3

conn = sqlite3.connect("retail_dw.db")
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

conn.close()

[('CustomerDim',), ('ProductDim',), ('TimeDim',), ('SalesFact',), ('sqlite_sequence',)]

In [15]:
import sqlite3

# Connect to the warehouse database
conn = sqlite3.connect("retail_dw.db")
cursor = conn.cursor()

# -------------------------
# Load Customer Dimension
# -------------------------

customer_dim = customer_summary.copy()
customer_dim = customer_dim.rename(columns={
    "CustomerID": "CustomerID",
    "CustomerTotalSales": "TotalSales",
    "CustomerCountry": "Country"
})

cursor.execute("DELETE FROM CustomerDim")

for _, row in customer_dim.iterrows():
    cursor.execute(
        """
        INSERT INTO CustomerDim (CustomerID, CustomerName, Gender, AgeGroup, Country)
        VALUES (?, ?, ?, ?, ?)
        """,
        (int(row["CustomerID"]), None, None, None, row["Country"])
    )

conn.commit()
print("CustomerDim loaded:", len(customer_dim))

# -------------------------
# Load Time Dimension
# -------------------------

cursor.execute("DELETE FROM TimeDim")

for _, row in time_dim.iterrows():
    cursor.execute(
        """
        INSERT INTO TimeDim (TimeID, Date, Month, Quarter, Year)
        VALUES (?, ?, ?, ?, ?)
        """,
        (int(row["TimeID"]), str(row["Date"]), int(row["Month"]), int(row["Quarter"]), int(row["Year"]))
    )

conn.commit()
print("TimeDim loaded:", len(time_dim))

# -------------------------
# Load SalesFact Table
# -------------------------

cursor.execute("DELETE FROM SalesFact")

for _, row in sales_fact.iterrows():
    cursor.execute(
        """
        INSERT INTO SalesFact
        (CustomerID, ProductID, TimeID, Quantity, SalesAmount, Discount, TotalSales)
        VALUES (?, ?, ?, ?, ?, ?, ?)
        """,
        (
            int(row["CustomerID"]),
            random.randint(1, 50),   # Synthetic ProductID
            int(row["TimeID"]),
            int(row["Quantity"]),
            float(row["UnitPrice"]),
            0.0,
            float(row["TotalSales"])
        )
    )

conn.commit()
print("SalesFact loaded:", len(sales_fact))

conn.close()
print("ETL Load step completed.")

CustomerDim loaded: 98
TimeDim loaded: 257
SalesFact loaded: 428
ETL Load step completed.

## check whether data was loaded

In [16]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("retail_dw.db")

print("CustomerDim:")
print(pd.read_sql_query("SELECT * FROM CustomerDim LIMIT 5;", conn))

print("\nTimeDim:")
print(pd.read_sql_query("SELECT * FROM TimeDim LIMIT 5;", conn))

print("\nSalesFact:")
print(pd.read_sql_query("SELECT * FROM SalesFact LIMIT 5;", conn))

conn.close()

CustomerDim:
   CustomerID CustomerName Gender AgeGroup Country
0           1         None   None     None     UAE
1           2         None   None     None     UAE
2           3         None   None     None     UAE
3           4         None   None     None  Canada
4           5         None   None     None  France

TimeDim:
   TimeID        Date  Month  Quarter  Year
0       1  2024-11-12     11        4  2024
1       2  2025-08-05      8        3  2025
2       3  2024-12-21     12        4  2024
3       4  2025-02-13      2        1  2025
4       5  2025-03-11      3        1  2025

SalesFact:
   FactID  CustomerID  ProductID  TimeID  Quantity  SalesAmount  Discount  \
0       1          33          9       1        45         53.0       0.0
1       2          50         40       2         9         86.0       0.0
2       3          57         34       3         2         82.0       0.0
3       4           3          9       4        45         98.0       0.0
4       5          36          2       5        44         19.0       0.0

   TotalSales
0      2385.0
1       774.0
2       164.0
3      4410.0
4       836.0

# ETL FUNCTION WITH LOGGING

In [17]:
def run_etl(df):
    import sqlite3
    from datetime import datetime
    
    print("Starting ETL process...")
    
    # --------------------------
    # Extraction
    # --------------------------
    extracted_rows = len(df)
    print(f"Extracted rows: {extracted_rows}")
    
    # --------------------------
    # Transformation
    # --------------------------
    
    # Convert date
    df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"], errors="coerce")
    
    # Remove invalid rows
    df = df[(df["Quantity"] > 0) & (df["UnitPrice"] > 0)]
    print(f"After cleaning: {len(df)} rows")

    # Total sales
    df["TotalSales"] = df["Quantity"] * df["UnitPrice"]

    # Filter last 12 months
    current_date = datetime(2025, 8, 12)
    one_year_ago = current_date.replace(year=current_date.year - 1)
    df = df[df["InvoiceDate"] >= one_year_ago]
    print(f"Rows in last 12 months: {len(df)}")

    # Customer summary
    cust = df.groupby("CustomerID").agg({
        "TotalSales": "sum",
        "Country": "first"
    }).reset_index()
    
    # Time dim
    tdim = df[["InvoiceDate"]].drop_duplicates().copy()
    tdim["Date"] = tdim["InvoiceDate"].dt.date
    tdim["Month"] = tdim["InvoiceDate"].dt.month
    tdim["Quarter"] = tdim["InvoiceDate"].dt.quarter
    tdim["Year"] = tdim["InvoiceDate"].dt.year
    tdim["TimeID"] = range(1, len(tdim) + 1)
    tdim = tdim[["TimeID", "Date", "Month", "Quarter", "Year"]]

    # Prepare SalesFact
    fact = df.merge(
        tdim,
        left_on=df["InvoiceDate"].dt.date,
        right_on="Date",
        how="left"
    )

    # --------------------------
    # Load
    # --------------------------
    
    conn = sqlite3.connect("retail_dw.db")
    cursor = conn.cursor()

    cursor.execute("DELETE FROM CustomerDim")
    for _, r in cust.iterrows():
        cursor.execute(
            "INSERT INTO CustomerDim (CustomerID, Country) VALUES (?, ?)",
            (int(r["CustomerID"]), r["Country"])
        )

    cursor.execute("DELETE FROM TimeDim")
    for _, r in tdim.iterrows():
        cursor.execute(
            "INSERT INTO TimeDim (TimeID, Date, Month, Quarter, Year) VALUES (?, ?, ?, ?, ?)",
            (int(r["TimeID"]), str(r["Date"]), int(r["Month"]), int(r["Quarter"]), int(r["Year"]))
        )

    cursor.execute("DELETE FROM SalesFact")
    for _, r in fact.iterrows():
        cursor.execute(
            """
            INSERT INTO SalesFact
            (CustomerID, ProductID, TimeID, Quantity, SalesAmount, Discount, TotalSales)
            VALUES (?, ?, ?, ?, ?, ?, ?)
            """,
            (
                int(r["CustomerID"]),
                random.randint(1, 50),
                int(r["TimeID"]),
                int(r["Quantity"]),
                float(r["UnitPrice"]),
                0,
                float(r["TotalSales"])
            )
        )

    conn.commit()
    conn.close()
    
    print("ETL process completed.")
    print("Loaded customers:", len(cust))
    print("Loaded time records:", len(tdim))
    print("Loaded fact rows:", len(fact))

In [18]:
run_etl(df)

Starting ETL process...
Extracted rows: 1000
After cleaning: 1000 rows
Rows in last 12 months: 428
ETL process completed.
Loaded customers: 98
Loaded time records: 257
Loaded fact rows: 428


### ETL LOAD AND LOGGING

In this section, I loaded the transformed dataset into the SQLite data warehouse and wrapped the entire ETL workflow into a reusable function with logging.

**1. Loading Dimension Tables**  
- I inserted unique customer records into `CustomerDim`, keeping `CustomerID` and `Country`.  
- For the `TimeDim`, I loaded all unique dates from the filtered dataset and added Month, Quarter, and Year values along with a generated TimeID.  
- Before inserting new records, each table was cleared using a simple DELETE to avoid duplicates.

**2. Loading the Fact Table**  
- I inserted all filtered sales transactions into `SalesFact`, including CustomerID, TimeID, Quantity, UnitPrice, and TotalSales.  
- A placeholder ProductID was used because synthetic data does not include a product dimension.  

**3. ETL Function with Logging**  
The `run_etl()` function combines extraction, transformation, and loading into one pipeline.  
It prints row counts at each key stage:
- rows extracted  
- rows after cleaning  
- rows within the last 12 months  
- rows loaded into CustomerDim, TimeDim, and SalesFact  

These logs demonstrate the accuracy of the pipeline and make debugging easier.  
The function also handles all steps deterministically so the ETL process can be re-run at any time.

Overall, this completes the ETL section by producing clean dimension tables and a populated fact table suitable for OLAP analysis.